  html 
{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
  body 
{
    font-family: 'Times New Roman'; /* Семейство шрифтов */
    font-size: 14pt; /* Размер основного шрифта в пунктах  */
    background-color: #261739; /* Цвет фона веб-страницы */
    color: #ffffff; /* Цвет основного текста */ 
    height: 100%;
    margin : 0;
    padding: 0%;
} 
  header 
{
    display: block;
    margin: 0;
    padding: 0;
    background-image: url(menu.svg);
    background-size: cover;
    background-position: 0 0;
    background-repeat:no-repeat;
    width: 100%;
    aspect-ratio: 100 / 35; 
}
  .header-author 
{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    height: 50%;
    margin-top: 2%;
    background-repeat:no-repeat;
}
  #header-lir
{
    background-image: url(lirkovlogoBWV.svg);
    background-position: right 5%;
    width : 35%;
    background-size: 80% 80%;
}
#header-lir:hover
{
    background-image: url(lirkovlogo.svg);
    background-position: right 5%;
    width : 35%;
    background-size: 80% 80%;
}

  #header-mey 
{
    background-image: url(meydilogoBWV.svg);
    background-position: center 0%;
    width :24%;
    background-size: 90% 90%;
}
#header-mey:hover 
{
    background-image: url(meydilogo.svg);
    background-position: center 0%;
    width :24%;
    background-size: 90% 90%;
}
  #header-vos 
{
    background-image: url(voslogoBWV.svg);
    background-position: left 5%;
    width : 35%;
    background-size: 90% 90%;
}
#header-vos:hover 
{
    background-image: url(voslogo.svg);
    background-position: left 5%;
    width : 35%;
    background-size: 90% 90%;
}
  iframe 
{
    border:0px;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: -11.1%;
    height:58%;
    width:56%;
    background-color: #2F2B4C;

}

/* ФРЕЙМ */ 
  .inside
{
    padding: 15pt;
    background-color: #2F2B4C;
    color: #ffffff; 
    font-family: 'Arial'; 
    font-size: 12pt; 
    line-height: 155%;
}

.leftimg
{
  float:left; /* Выравнивание по левому краю */
  margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}
  .containermenu 
{
    size: 5%;
    position: absolute;
    width: 52%;
    height: 4.6%;
    margin-top: -13.4%;
    margin-left: 25%;
    margin-right: 25%;
}
  .mainmain 
{
    width: 100%;
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-top: -50pt;
  }

  to {
   opacity: 1;
   margin-top: 0pt;

 }
}

  .mainul ul 
{
    display: none;
    position: absolute;
    top: 100%;
    animation-duration: 1s;
  animation-name: slidein;
}
  .mainul li:hover ul 
{
   display: block;

   
}
.mainul ul
{
  margin-top: 0pt;
  padding: 0;
  list-style-type: none;
  text-align: center;

}
  .mainul
{
    margin: 0;
    padding:0;
    list-style-type: none;
    display: inline-block;
    min-width: 470px;
    width: 100%;
}
  .mainul li 
{
    font-family: 'werfus';
    font-size: 35pt;
    float: left;
    position: relative;
    height: 73%;
    margin-left: 0%;
    width: 20%;
    display: block;
}
  .mainul li a 
{
    display: block;
    padding: 6px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    margin-top: -15px;
    text-align: center;
}

.mainul li li 
{
    float: none; 
    width: 85pt;
    background-color: #2048C7;
    margin-top: 5pt;
    
}

.mainul li li:nth-child(odd) {
  margin-left: 15px;
}

.mainul li li:hover 
{
    float: none; 
    width: 85pt;
    background-color: #2048C7;
    

}
.mainul li li a:hover
{
    float: none; 
    font-size: 25pt;

}
.mainul li li a
{
  float: none; 
  font-size: 25pt;
  height: 30pt;
  display: inline;
}
  .mainul > li:hover 
{
    width: 20%;
}
  .mainul a:hover 
{
    color:#f1dc1c;

}
h1 {

  font-family: "werfus";
  font-size: 40pt;
  letter-spacing: 5pt;
  text-align: center;
  line-height: 60%;
  z-index: 0;
}
h2 {

  font-family: "werfus";
  font-size: 25pt;
  letter-spacing: 5pt;
  text-align: center;
  color: #f1dc1c;
  line-height: 40%;
  z-index: 0;
}
   @font-face 
{ 
    font-family: "werfus"; 
    src: url("../fonts/werfus.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
} 
.round {
  border-radius: 20px; /* Радиус скругления */
  border: 1px solid rgba(77, 51, 61, 0.534); /* Параметры рамки */
  box-shadow: 0 0 3px rgba(14, 6, 46, 0.527); /* Параметры тени */
  margin: 1pt;
 }
 .textaccent  
 {
color:#e43175;
 }
 .gallery
  {
   text-align: center;
   }
   .linkinside
   {color:#e43175;
text-decoration: none;
font-weight: bold;


   }
   .linkinside:visited
   {color:#e43175;
    text-decoration: none;
    font-weight: bold;

   }
   .linkinside:active
   {color:#e43175;
    text-decoration: none;
    font-weight: bold;

   }
  .linkinside:hover
  {color:#dfba18;
    text-decoration: none;
    font-weight: bold;


  }
  .divtextinside
  {
    text-indent: 1cm;
  }
.insideul
{
  text-indent: 0cm;
}
.indexbutton
{ 
  text-decoration: none;
  font-family: 'werfus';
  font-size: 30pt;
  color:#dfba18;
  text-align: center;
  line-height: 70%;
}
.indexbuttondiv
{ z-index: 15;
  text-align: center;
  border-radius: 40px; /* Радиус скругления */
  border: 1px solid rgba(77, 51, 61, 0.534); /* Параметры рамки */
  box-shadow: 0 0 3px rgba(14, 6, 46, 0.527); /* Параметры тени */
  margin: 1pt;
  width: 80px;
  height:80px;
  padding-top: 20px;
  display: block;
  float: left;
  position:fixed;
  bottom: 1%;
  left:15%;
}